- if @like 
  %div{:class=>"alert alert-info",:style=>"margin-top:30px;margin-left:28px;"}
    Спасибо за интерес к проекту, Ваш email #{@like.email} был добавлен, как только проект будет открыт, Вам придет уведомление!
   